.error_message {
    background-color: #E53935;
    color: white;
    border: #e64a19 solid 1px;
    border-radius: 20px;
    padding: 5px;
}

.ok_message {
    background-color: #51c433;
    color: white;
    border: #2b651b solid 1px;
    border-radius: 20px;
    padding: 5px;
}
